.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}
h1 {
    margin: 0;
    text-align: center;
    margin: 10px 0;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: 10px 0 0 0;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number]:focus {
    background-color: lightblue;
    cursor: pointer;
}
.inputValue {
    font-size: 20px;
}
.form {
    font-size: 20px;
}
.value {
    color: red;
    padding-left: 120px;
    font-size: 25px;
}
